<div class="app-index">
  <mdb-carousel [controls]="true" [indicators]="true" [dark]="true">
    <mdb-carousel-item>
      <img src="/assets/logo/banner-back.png" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Tagline describing your e-shop</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis
          ac neque.
        </p>
        <button class="btn btn-primary">Shop Sales</button>
        <button class="btn btn-secondary">All Products</button>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img src="/assets/logo/banner-back.png" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img src="/assets/logo/banner-back.png" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>